@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Leighton Schmidt</h1>
    <p>learn about <a href="https://schmidt1519.github.io/portfolio/">me and my software development journey</a>.</p>
</div>
