@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello World</h1>
    <br />
    <br />
    <h2>Leighton Schmidt <br /> <a href="https://schmidt1519.github.io/portfolio/">Portfolio</a></h2>
    <br />
    <br />
    <h2>News <br /> <a href="https://www.linkedin.com/feed/">LinkedIn</a></h2>
</div>
